@import 'color';
@import 'mediaconst';

// Main container
.container {
    display: flex;
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    align-items: center;
}

// Main content-block header
.main-header {
    // Items content-block header
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 125px;
    
    

    &__item, &__item > .navigation__list {
        display: flex;
        
        
    }
}


// Navigation block
.navigation {
    flex-grow: 0.4;
    flex-shrink: 0;
    // Navigation list
    &__list {
        font-family: 'GolosText';
        color: $white;
        font-size: 15px;
        font-weight: 500;
        gap: 30px; 
    }
    // Item navigation list
    &__item:not(:last-child){
    }
}

// Block logo
.logo {
    
    // Item block logo
    padding: 0 41px;
    margin: 0 40px;
    background-color: $white;
    height: 100%;
    align-items: center;
    border-radius: 0 0 43px 43px;
    gap: 10px;
    &__item {

        .logo__popup {
            display: none;
        }
    }

    &__icon {
        min-width: 35px;
    }

    &__link {
        font-family: "RussoOne";
        font-weight: 400;
        font-size: 16px ;
    }
    
}



// main block contacts
.contacts {
    gap: 20px;
    align-items: center;
    // Item block contacts
    &__item {
        flex-wrap: nowrap;  
    }
}

.main-info  {
    
    &__item, a {
        color: $white;
        font-size: 18px;
        font-family: 'GolosText';
        white-space: nowrap;
    }
}
.messenger {
    display: flex;
    gap: 10px; 
    &__item {
        width: 60px;
        height: 40px;
        text-align: center;
        padding: 7px;
        border-radius: 20px;
    }
}

.telegram {
    background-color: $whatapp;
}
.whatsapp {
    background-color: $telegram;
}



// media ---> header
@media (max-width:$tablet) and (max-width:$phone) {
    .contacts {
        display: none;
    }
    .navigation {
        display: none;
    }
    
    .logo {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        width: 310px;
        &__item {
            .logo__popup {
                display: block;
                margin-left: 60px;
            }
        }
    }

    
}